.verify {
    width: 450px;
    height: 300px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 230px;
    margin-left: 520px;
}

.verify h1 {
    margin-bottom: 30px;
}

.verify > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
    
}

.verify > .button {
    background: rgb(131, 73, 55);
    border: 1px solid rgb(182, 114, 93);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem ;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-top: 40px;
}

.verify > .button:hover{
    background: rgb(168, 103, 84);
    border: 2px solid rgb(86, 36, 21);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem ;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-top: 40px;
}