.others-profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .profile-container {
    width: 300px;
    height: 100%;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
  }
  
  .profile-container h2 {
    margin: 0;
  }
  
  .mattribute {
    font-weight: bold;
  }
  
  .info {
    margin: 0;
  }
  
  .profile-product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
  }
  
  .profile-product-card {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
  }
  
  .profile-product-card h3 {
    margin: 0;
  }
  
  .profile-product-card p {
    margin-top: 0.5rem;
  }
  
  #profile-product-img {
    width: 100%;
    height: auto;
  }
  
  .profile-product-card button {
    margin-top: 0.5rem;
    background: #a36043;
    color: #fff;
    border: 1px solid #a36043;
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
  }
  
  .profile-product-card button:hover {
    background: #b9846d;
    border: 2px solid #000000;
  }
  